footer {
  background-color: #3e054b;
  padding: 20px;
  text-align: center;
  margin-top: 70px;
}

.nav-footer {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-footer a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-decoration: none;
  margin: 20px;
  padding-top: 2%;
}

.nav-footer a:hover {
  color: rgb(210, 53, 231);
}

.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.redes-sociales a {
  display: inline-block;
  margin: 10px;
  padding-top: 2%;
}

.redes-sociales img {
  width: 25px;
}

.redes-sociales a:hover {
  color: #2c8f59;
}

.titulo-final {
  margin-bottom: 10px;
}


