#videos {
  text-align: center;
  padding: 20px;
}

#videos h2.titulo {
  margin-bottom: 30px;
}

#videos ul {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

#videos li {
  background-color: rgb(135, 44, 114);
  padding: 0px;
  border-radius: 8px;
  background: #3e054b;
  width: 100%;
  max-width: 450px;
  height: auto;
  box-shadow: 1px 1px 10px 1px rgb(135, 44, 114);
  margin-bottom: 20px;
}

#videos li h4 {
  color: #fff;
  margin: 12px;
}

#videos li .video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#videos li iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  #videos ul {
    grid-template-columns: 1fr;
  }
}


